*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    /* height: 10vh; */
    width: 100%;
    /* border: 2px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.box-logo{
    height: 5vh;
    width: 10%;
    /* border: 2px solid black; */
}
.box-input{
    height: 7vh;
    width: 40%;
    border: 1px solid gray;
    margin: 10px;
    display: flex;
    border-radius: 10px;
}
.box-sign{
    height: 7vh;
    width: 15%;
    /* border: 2px solid black; */
}
.loc-logo{
    height: 7vh;
    width: 4%;
    /* border: 2px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.loc-logo i{
    font-size: 20px;
    color: #EF4F5F;
    padding-left: 5px;
}
.loc-input{
    padding-left:15px;
    font-size: 15px;
    border: none;

}
hr{
    height: 3vh;
    
    
}
.hr-box{
    height: 7vh;
    width: 3%;
    /* border: 2px solid black;  */
    display: flex;
    justify-content: center;
    align-items: center;
}
.box-sign{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.box-sign button{
    padding: 10px 30px ;
    font-size: 15px ;
    background-color: white;
    font-weight: 500;
    border-style: none;
    border-radius: 10px;
    cursor: pointer;
    /* border: 2px solid black; */
}
.button{
    /* border: 2px solid black; */
     /* height: 10vh;  */
    padding: 10px;
    /* margin: 20px; */
    width: 100%;
    display: flex;
    padding-left: 200px;
    /* position: fixed; */
    background-color: white;
}
.Dining{
    width: 15%;
    /* border: 2px solid black; */
    margin: 10px;
    display: flex;
    padding-left: 10px;
    
}
.dining1{
    font-size: 20px;
    padding: 15px;

}
.Delivery{
    width: 15%;
    margin: 10px;
    /* border: 2px solid black; */
    display: flex;
    padding-left: 10px;
}
.delivery1{
    font-size: 20px;
    padding: 15px;

}
.nightlife{
    width: 15%;
    /* border: 2px solid black; */
    margin: 10px;
    display: flex;
    padding-left: 10px;

}
.nightlife1{
    font-size: 20px;
    padding: 15px;

}
.collection{
    width: 100%;
    /* height: 10vh; */
    /* border: 2px solid black; */
    background-color: rgba(243, 243, 243, 0.793);
    
}
.collect1{
    width: 15%;
    padding-left: 20px;
    margin-left: 200px;
    /* border: 2px solid black; */
    background-color: rgba(243, 243, 243, 0.793);
}
.pera{
    /* height: 10vh; */
    width: 100%;
    border: 2px solid black;
    background-color: rgba(243, 243, 243, 0.793);
}
.pera1{
    width: 50%;
    margin-left: 200px;
    margin-top: 20px;
    color: rgb(115, 111, 111);
    /* border: 2px solid black; */
    font-size: 20px;
    padding-left: 15px;
}
.box-collect{
    border: 2px solid blue;
    width: 100%;
    /* height: 50vh; */
    display: flex;
    justify-content: center;
    background-color: rgba(243, 243, 243, 0.793);
    
}
.box-collect2{
    border: 2px solid blue;
    height: 40vh;
    width: 75%;
    display: flex;
    justify-content: space-between;

}
 .box-collect-A{
    border: 1PX solid black;
    width: 22%;
     height: 100%;
     background-image: url(hotel.avif);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 5px; 
 
}
.box-collect-B{ 
    border: 1px solid black;
    height: 100%;
    width: 22%;
     background-image: url(dining.avif);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 5px; 

}
 .box-collect-C{ 
    border: 1px solid black;
    width: 22%;
    height: 100%;
    background-image: url(juice.avif);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 5px; 
 
} 
 .box-collect-D{
    border: 1px solid black;
    width: 22%;
    height: 100%;
    background-image: url(seating.avif);
    background-size: cover;
    background-repeat: no-repeat;  
    border-radius: 5px; 

} 
.filter{ 
     width: 100%; 
     /* border: 2px solid black;  */
     display: flex;
     justify-content: center;
}
.filt{ 
     height: 10vh; 
     width: 75%;
     border: 2px solid black;  
    padding-top: 20px;
    /* display: flex; justify-content: space-around; */
    

} 
.discount{
    width: 100%;
    height: 40vh;
    /* border: 2px solid blue; */
    display: flex;
    justify-content: center;
    
}
.disc{
    width: 75%;
    /* height: 30vh; */
    /* border: 2px solid black; */
    padding-top: 20px;

}
.ptag{
    width: 100%;
    /* border: 2px solid black; */
    /* height: 40vh; */
    display: flex;
    justify-content: center;
}
.p{
    width: 75%;
    /* border: 2px solid black; */
    font-size: 35px;
    padding-top: 15px;

}
.restaurants{
    /* height: 100vh; */
    width: 100%;
    /* border: 2px solid black; */
    display: flex;
    justify-content: center;
    padding-top: 25px;
}
.rest{
    width:75%;
    border: 2px solid blue;
    /* height: 50vh; */
    display: flex;
    justify-content: space-between;
    
}
.rest-1{
    width: 32%;
    /* height: 50vh; */
    border: 2px solid blue;
}
.rest-a{
    height: 70%;
    width: 100%;
     border: 2px solid blue;

}
/* .rest-2{
    width: 30%;
    border: 2px solid blue;
}
.rest-3{
    width: 30%;
    border: 2px solid blue;
} */
.menu-1{
    /* height: 80vh; */
    width: 100%;
    display: flex;
    justify-content: center;
    border: 2px solid blue;
}
.food-1{
    width:75%;
    border: 2px solid blue;
    height: 50vh;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;

}
.foodA{
    width: 32%;
    /* height: 50vh; */
    border: 2px solid blue;
}
.food-a{
    height: 70%;
    width: 100%;
    border: 2px solid blue;

}
.menu-2{
    /* height: 80vh; */
    width: 100%;
    display: flex;
    justify-content: center;
    border: 2px solid blue;
}
.food-2{
    width:75%;
    border: 2px solid blue;
    height: 50vh;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;

}
.foodB{
    width: 32%;
    /* height: 50vh; */
    border: 2px solid blue;
}
.food-c{
    height: 70%;
    width: 100%;
    border: 2px solid blue;

}

.menu-3{
    height: 80vh;
    width: 100%;
    display: flex;
    justify-content: center;
    border: 2px solid blue;
}
.food-3{
    width:75%;
    border: 2px solid blue;
    height: 50vh;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;

}
.foodC{
    width: 32%;
    /* height: 50vh; */
    border: 2px solid blue;
}
.food-e{
    height: 70%;
    width: 100%;
    border: 2px solid blue;

}



